body {
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0) !important;
}

#wdContent {
	position: absolute;
	top: 0;
	left: 0;
	width: 512px;
	height: 420px;
	padding: 10px;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
}

.wdTitle {
	margin-left: 10px;
	font-size: 20pt;
	font-weight: 800;
}

.wdMatrix {
	margin-top: 5px;
}

.wdMatrix tr td {
	margin: 0;
	padding: 2px;
}

.wdTabContent {
	padding: 10px;
	margin: 0;
	border: 1px solid #DCDCDC;
	border-top: 0;
	border-radius: 0 0 3px 3px;
}

.wdSide {
	width: 60px;
	height: 60px;
}

.wdLeft {
	margin: 0;
	padding: 0;
	width: 225px;
	float: left;
}

.wdRight {
	margin: 0;
	padding: 0;
	margin-left: 225px;
	padding-left: 10px;
	border-left: 1px solid #DCDCDC;
}

.wdClear {
	clear: both;
}

.wdLabel {
	margin: 5px 0;
}