# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.vscode
src/main/resources/assets/mcef/cef
runsrc/main/resources/assets/mcef/cef/windows_amd64/mcef2.json
runsrc/main/resources/assets/mcef/cefmacos_arm64/mcef2.json
